################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Book Catalog/FileContentIndex/f7d2320f-b004-4a71-b268-ad67f596fb5d.vsidx
/src/Book Catalog/.vs/Book Catalog/FileContentIndex/77e3d0a6-a73c-4a78-8132-c27a1cbe85c1.vsidx
